<a href="https://colab.research.google.com/github/chuviethongfpt/atom-assignments/blob/main/Excercise_%2B_Lecture_01_CVH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 01 - Syntax, Variables and Numbers

In [ ]:
print("You've successfully run some Python code")
print("Congratulations!")

You've successfully run some Python code
Congratulations!

# 0.Creating a Variable

In [ ]:
# Create a variable called color with an appropriate value on the line below
# (Remember, strings in Python must be enclosed in 'single' or "double" quotes)

# 1.Simple Arithmetic Operation

In [ ]:
pi = 3.14159 # approximate
diameter = 3
Area = pi*(diameter/2)**2
print("Area= ",Area)

Area=  7.0685775

# 2.Variable Reassignment

In [ ]:
# If you're curious, these are examples of lists. We'll talk about 
# them in depth a few lessons from now. For now, just know that they're
# yet another type of Python object, like int or float.
import numpy as np
a = np.array([1, 2, 3])
b = np.array([3, 2, 1])
c = np.array([3, 1, 1/3])

print("a = ")
print(a*c)
print("b = ")
print(b/c)

a =
[3. 2. 1.]
b =
[1. 2. 3.]

# 3.Order of Operations

In [ ]:
h1 = (5-3)//2
print("h1 = ",h1)

h1 =  1

In [ ]:
h2 = 8 - 3 * 2 - 1 + 1
print("h2 = ",h2)

h2 =  10

# 4.Your Turn

In [ ]:
alice_candies = 121
bob_candies = 77
carol_candies = 109
to_smash = ((alice_candies/2) - carol_candies + (bob_candies/2))/10
print('to_smash = ',to_smash)

to_smash =  -1.0

# Lecture 01 - Hello Python!

In [ ]:
course_amount = 0
print(course_amount)

course_amount = course_amount + 4

if course_amount > 0:
    print("I registered DataCracy program!")

0
I registered DataCracy program!

In [ ]:
course_amount = 0

In [ ]:
print(course_amount)

0

In [ ]:
course_amount = course_amount + 4

In [ ]:
if course_amount > 0:
     print("I registered DataCracy program!")
        
datacracy_origin = "Data and Democracy!"
print(datacracy_origin)

I registered DataCracy program!
Data and Democracy!

In [ ]:
course_amount = 0
type(course_amount)

int

In [ ]:
type(19.95)

float

In [ ]:
print(5 / 2)
print(6 / 2)

2.5
3.0

In [ ]:
print(5 // 2)
print(6 // 2)

2
3

# Order of Operations

The arithmetic we learned in primary school has conventions about the order in which operations are evaluated. Some remember these by a mnemonic such as

*  PEMDAS - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.

Python follows similar rules about which calculations to perform first. They're mostly pretty intuitive.

In [ ]:
h3 = 8- 3 + 2
print("h3 = ",h3)

h3 =  7

In [ ]:
h4 = -3 + 4 * 2
print("h4 = ",h4)

h4 =  5

Sometimes the default order of operations isn't what we want:

Parentheses () are your useful here. You can add them to force Python to evaluate sub-expressions in whatever order you want.

In [ ]:
hat_height_cm = 5
my_height_cm = 160

# How tall am I, in meters, when wearing my hat?
total_height_meters = (hat_height_cm + my_height_cm) / 100
print("Height in meters =", total_height_meters)

Height in meters = 1.65 ?

# Built-in Functions for Working with Numbers

In [ ]:
print(min(1, 2, 3))
print(max(1, 2, 3))

1
3

In [ ]:
print(abs(32))
print(abs(-32))

32
32

In [ ]:
print(float(10))
print(int(3.33))
# They can even be called on strings!
print(int('807') + 1)

10.0
3
808